@charset "UTF-8";
/* Reset */
html, body, div, span, h1, h2, h3, h4, p, address, b, i, ul, li, form {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  //position: relative;
  //height: 100%;
  //overflow: auto;
}

body {
  line-height: 1;
  position: relative;
  //height: 100%;
  //overflow: auto;
  //-webkit-overflow-scrolling: touch;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Arial Black";
  src: url("../fonts/ArialBlack.ttf") format("truetype");
}

// Mixins
.trans(@time) {
  -webkit-transition: all @time ease;
  -moz-transition: all @time ease;
  -ms-transition: all @time ease;
  -o-transition: all @time ease;
  transition: all @time ease;
}

.box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.inline(@font-size) {
  text-align: justify;
  font-size: @font-size;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
  }
}

.user-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@yellowMain: #fdc60a;
@blueMain: #0e1371;
@grayMain: #464646;
@green: #98b20b;
@blue: #003c61;

.showblock {
  display: block !important;
}

// Main styles
html, body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  position: relative;
  background-color: #fff;
  color: #000;
}

body, body * {
  .box-sizing();
}

h1 {
  font-size: 18px;
  margin-bottom: 25px;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 30px 0 15px;
  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 30px 0 15px;
  &:first-child {
    margin-top: 0;
  }
}

a {
  .trans(.1s);
  &:hover {
    text-decoration: none;
  }
}

a {
  img {
    border: none;
  }
}

.h {
  display: none;
}

.root {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrap {
  position: relative;
  background-color: @grayMain;
}

#content {
  padding: 30px;
}

.container {
  .box-sizing();
  margin: 0 auto;
  max-width: 1170px;
  padding: 0;
  position: relative;
}

.main-wrap {
  background: url("../images/main-bg-other.jpg") top center no-repeat;
  background-size: 100%;
  padding-top: 15px;
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
  }
  &__column-left {
    flex-basis: 270px;
    width: 270px;
    min-width: 220px;
    margin-bottom: 35px;
    z-index: 1;
    .get-price.btn {
      width: 100%;
      border-radius: 10px;
      background-color: #828282;
    }
  }
  &__content {
    flex-basis: 860px;
    width: 860px;
    padding-left: 40px;
    padding-bottom: 40px;
    .parts {
      width: 100%;
      &__link {
        display: block;
        padding-left: 45%;
        height: 65px;
        color: @blueMain;
        font-family: "Arial Black", sans-serif;
        font-size: 33px;
        font-weight: normal;
        line-height: 65px;
        text-transform: uppercase;
        text-decoration: none;
        background: url("../images/logo.png") 10% 40% no-repeat,
        linear-gradient(to right, @blueMain 40%, @yellowMain 40%);
        &:hover {
          text-decoration: underline;
        }
        &-more {
          position: relative;
          padding-left: 50px;
          font-family: "Arial", sans-serif;
          font-size: 16px;
          font-weight: normal;
          vertical-align: middle;
          &::after {
            display: block;
            position: absolute;
            top: -4px;
            right: -40px;
            content: "";
            width: 30px;
            height: 25px;
            background: url("../images/parts-arrow.png") center no-repeat;
          }
        }
      }
    }
  }
  h1 {
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Header

header {
  background-color: @grayMain;
}

.header-top {
  .flex();
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
  &__info {
    .flex();
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 1;
    text-align: left;
    .feedback {
      margin-bottom: 0;
      padding: 0;
      width: 175px;
      cursor: pointer;
      background-color: @yellowMain;
    }
    &-feedback {
      .flex();
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      padding-left: 40px;
      padding-right: 30px;
    }
    &-contacts {
      .flex();
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      text-align: right;
      span {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .logo-box {
    .slogan {
      color: #003c61;
      font-size: 17px;
      font-style: italic;
      padding-bottom: 5px;
    }
  }
}

.feedback {
  margin-bottom: 18px;
  padding: 0 35px;
  display: block;
  color: #000;
  background-color: @yellowMain;
  text-align: center;
  height: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  .trans(.1s);
  &:hover {
    box-shadow: 0 1px 5px rgba(50, 50, 50, .2);
    text-shadow: 0 0 0 #fff;
  }
}

.m-top-menu {
  display: none;
  left: 0;
  right: 0;
  top: -192px;
  z-index: 1;
  position: fixed;
  height: 256px;
  padding-top: 192px;
  box-sizing: border-box;
}

.top-menu {
  background-color: #464646;
  border-bottom: 1px solid #fff;
  .container {
    display: flex;
    justify-content: space-around;
  }
  &__link {
    padding: 10px 0;
    position: relative;
    flex-grow: 1;
    text-align: center;
    color: #d7d7d7;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    .box-sizing();
    .trans(0.1s);
    background-color: #464646;
    &.active {
      color: #fff;
      background-color: @blueMain;
      span {
        color: #fff;
      }
    }
    &:hover {
      span {
        color: #fff;
      }
    }
  }
}

.slideshow {
  position: relative;
  &__bottom {
    z-index: 9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .55);
    height: 70px;
    color: #dddedf;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > div {
      span {
        vertical-align: baseline;
        display: block;
        margin-bottom: 5px;
        &::before {
          content: '';
          display: inline-block;
          vertical-align: baseline;
          width: 12px;
          height: 12px;
          background-color: #8ba400;
          margin-right: 10px;
        }
      }
    }
  }
  // arrows
  .arrows {
    display: none;
  }
  /*&:hover {
    .arrows {
      display: block;
    }
  }*/
  .arrows {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 10;
    width: 65px;
    height: 55px;
    font-size: 0;
    color: transparent;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    background-origin: content-box;
    box-sizing: content-box;
    cursor: pointer;
  }
  .swiper-prev {
    left: 15px;
    background-position: -257px -17px;
  }
  .swiper-next {
    right: 15px;
    background-position: -337px -17px;
  }
}

.content-top {
  position: relative;
  .content-border {
    display: none;
  }
}

.content {
  line-height: 1.5;
}

// Category top
.category-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 35px;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 48%;
    margin-bottom: 5px;
    margin-right: 4%;
    padding-top: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    .trans(.2s);
    &.parts-item {
      width: 47%;
    }

    &:hover {
      box-shadow: 0 0 0 1px rgba(253, 198, 10, .8);
    }
    &__title {
      padding: 0 10px;
      font-size: 18px;
      line-height: 27px;
      color: #c0c0c0;
      text-align: center;
      text-transform: uppercase;
    }
    &__content {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    &__button {
      display: none;
      position: relative;
      margin: 0 auto;
      width: 70%;
      font-size: 13px;
      font-weight: bold;
      line-height: 22px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      background-color: #79ddf5;
      border-radius: 20px;
      .trans(.2s);
      &:visited {
        color: #000;
      }
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.category-wall {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .item {
    position: relative;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 15px;
    text-decoration: none;
    border: 3px dotted #c6c7c8;
    border-top: none;
    background-color: #fff;
    box-sizing: border-box;
    .trans(.2s);
    &:hover {
      .item__button {
        color: #ff6a00;
      }
    }
    &__title {
      padding-right: 15px;
      padding-left: 15px;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      color: #ff6a00;
      text-align: center;
      background: linear-gradient(to bottom, #ff8a00, #ff7200);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__content {
      text-align: center;
    }
    &__button {
      position: relative;
      padding-left: 10px;
      margin: 0 auto;
      width: 70%;
      line-height: 40px;
      color: #fff;
      font-style: italic;
      text-decoration: underline;
      background: #231f20;
      .trans(.2s);
      &::after {
        position: absolute;
        top: 13px;
        right: 10px;
        content: ">";
        display: block;
        width: 25px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
        font-style: normal;
        color: #fff;
        text-align: center;
        font-weight: 600;
        background: linear-gradient(to bottom, #ff9000, #ff6a00);;
        border-radius: 5px;
      }
      &:visited {
        color: #000;
      }
    }
  }
}

// Breadcrumbs
.breadcrumb {
  display: block;
  color: #c0c0c0;
  padding: 18px 0 25px;
  cursor: default;
  a {
    font-size: 12px;
    color: #c0c0c0;
    text-decoration: none;
    border-bottom: 1px solid #c0c0c0;
    .trans(0.1s);
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.featured {
  background: url(../images/top-image.jpg) no-repeat;
  width: 1110px;
  height: 411px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  font-size: 16px;
  &::after {
    content: '';
    position: absolute;
    top: -8px;
    right: -9px;
    width: 124px;
    height: 124px;
    background: url(../images/leader.png) no-repeat;
  }
  &__elem {
    width: 50%;
    flex-basis: 50%;
    position: relative;
    &:first-child {
      padding-left: 200px;
      padding-top: 30px;
    }
    &:last-child {
      padding-left: 100px;
      padding-top: 30px;
      .featured__attributes {
        width: 70%;
      }
      .more {
        left: 40px;
      }
    }
    .name {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    .in-stock {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      color: #969696;
      font-weight: 600;
      vertical-align: baseline;
      font-size: 16px;
      span {
        color: #e50400;
        font-size: 22px;
        i {
          font-style: normal;
          font-size: 16px;
        }
      }
      &::before {
        content: '';
        display: inline-block;
        vertical-align: baseline;
        padding-right: 6px;
        width: 18px;
        height: 16px;
        background: url(../images/in_stock.png) no-repeat;
      }
    }
    .more {
      position: absolute;
      bottom: 24px;
      left: 330px;
      a {
        font-size: 14px;
        color: #003c61;
      }
    }
  }
  &__attributes {
    &_item {
      display: flex;
      margin-bottom: 15px;
      &_name {
      }
      &_text {
        padding-left: 10px;
        font-weight: 600;
      }
    }
  }
}

.main-title {
  -js-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  font-size: 19px;
  padding-top: 10px;
  &__name {
    flex-basis: 20%;
    text-align: right;
    color: @blue;
    .box-sizing();
  }
  &__h1 {
    .box-sizing();
    h1 {
      font-weight: normal;
    }
  }
  h1 {
    margin-bottom: 0;
  }
}

// Category
.category-list {
  margin-bottom: 25px;
  &__items {
    -js-display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__item {
    flex-basis: 30%;
    position: relative;
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid @blue;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    .trans(0.1s);
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &:hover {
      border: 1px solid @green;
      .category-list__item_name {
        background-color: @green;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        .category-list__item_name {
          //color: @green;
        }
      }
    }
    &_count {
      position: absolute;
      top: 27px;
      right: 8px;
      font-size: 11px;
      color: @blue;
    }
    &_image {
      text-align: center;
      margin: 10px 0;
    }
    &_name {
      background-color: #192e61;
      text-align: center;
      color: #fff;
      font-size: 14px;
      margin-bottom: 20px;
      padding: 0 10px;
      max-height: 22px;
      min-height: 22px;
      line-height: 22px;
      .box-sizing();
      .trans(0.1s);
      span {
        display: inline-block;
        max-height: 34px;
        overflow: hidden;
      }
    }
  }
}

.category-products-panel {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-right: 70px;
  max-height: 32px;
  &.only-models {
    margin-bottom: 0;
  }
  &__title {
    align-self: center;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    span {
      padding-right: 15px;
    }
  }
  &__pagination-section {
    align-self: center;
    display: inline-flex;
  }
  &__show-all {
    align-self: center;
    a {
      color: #fff;
      font-size: 13px;
      text-decoration: none;
      background-color: transparent;
      height: 30px;
      line-height: 30px;
      border: 1px solid transparent;
      display: inline-block;
      text-decoration: underline;
      .trans(0.2s);
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__loader {
    font-size: 0;
    opacity: 0;
  }
  &__pagination {
    align-self: center;
    .user-select();
    .links {
      cursor: default;
      a, b, span {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 18px;
        margin: 0 2px;
        background-color: @grayMain;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        line-height: 18px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: @yellowMain;
          color: @grayMain;
        }
      }
      b {
        background-color: @yellowMain;
        color: @grayMain;
      }
      .prev {
        background-color: transparent;
        background: url("../images/arrow-left.svg") center center no-repeat;
        background-size: 45%;
        &:hover {
          background-color: transparent;
          background: url("../images/arrow-left-fill.svg") center center no-repeat;
          background-size: 45%;
        }
      }
      .next {
        background-color: transparent;
        background: url("../images/arrow-right.svg") center center no-repeat;
        background-size: 45%;
        &:hover {
          background-color: transparent;
          background: url("../images/arrow-right-fill.svg") center center no-repeat;
          background-size: 45%;
        }
      }
    }
  }
}

// Similar categories
.similar-title {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.similar-categories {
  .category-box {
    &__sub-menu {
      -js-display: flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      padding-left: 0;
    }
    &__sub-item {
      flex-basis: 30%;
      margin-right: 5%;
      border-radius: 6px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      padding: 15px 0;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      a {
        display: block;
        min-height: 52px;
        background-color: @green;
        padding: 10px;
        text-align: center;
        .box-sizing();
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        .trans(0.1s);
        &:hover {
          color: @green;
        }
      }
      span {
        display: inline-block;
        overflow: hidden;
      }
    }
  }
}

.product-grid {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  &__item {
    flex-basis: 18.5%;
    position: relative;
    margin-right: 1.8%;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #192e61;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    .trans(0.1s);
    &:nth-child(5n+5) {
      margin-right: 0;
    }
    &:hover {
      border: 1px solid @green;
      .product-grid__item_name {
        background-color: @green;
      }
      a {
        //color: @green;
      }
    }
    a {
      text-decoration: none;
      color: #fff;
      .trans(0.1s);
    }
    &_name {
      display: block;
      text-align: center;
      background-color: #192e61;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      max-height: 22px;
      min-height: 22px;
      line-height: 22px;
      .box-sizing();
      span {
        display: block;
        max-height: 22px;
        padding: 0 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &_image {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
    &_attrs {
      background-color: #c8d0d1;
      color: #000;
      font-size: 11px;
      text-align: center;
      padding: 5px;
      margin-bottom: 12px;
      &_elem {
        &:first-child {
          margin-bottom: 2px;
        }
      }
    }
  }
}

.category-info {
  padding-top: 15px;
  padding-bottom: 45px;
  color: #c0c0c0;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  p {
    margin: 15px 0;
  }
}

// Static page
.static-content {
  font-family: "Arial", sans-serif;
  width: 100%;
  padding-bottom: 30px;
  color: #fff;
  p {
    margin: 10px 0;
    line-height: 22px;
  }
}

.map-section {
  padding-top: 30px;
}

// Contact page
.contact-page {
  padding-bottom: 15px;
  h1 {
    padding: 35px 0 10px;
  }
}

// Category sidebar
.category-box {
  color: #fff;
  border-radius: 10px;
  .box-sizing();
  &__title {
    position: relative;
    margin-bottom: 5px;
    padding: 6px 10px 4px;
    color: #464646;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    background-color: @yellowMain;
  }
  &__content {
    padding: 20px 20px 20px 30px;
    background-color: transparent;
    li {
      position: relative;
    }
    a {
      color: #192e61;
      text-decoration: none;
      .trans(0.1s);
    }
  }
  &__item {
    margin-bottom: 15px;
    border-radius: 20px;
    a {
      display: block;
      font-size: 17px;
      line-height: 26px;
      color: #fff;
      font-weight: 600;
      .user-select();
      .box-sizing();
      &:hover {
        color: @yellowMain;
      }
      &.active {
        color: @yellowMain;
        & ~ .category-box__icon {
          display: none;
        }
        & + i + ul {
          display: block;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__sub-item {
    position: relative;
    background-color: transparent;
    text-transform: none;
    padding: 0 0;
    &:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
  &__sub-menu {
    display: none;
    padding-top: 10px;
    a {
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #fff;
      background: none;
      box-shadow: none;
      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        content: " ";
        display: none;
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
        color: #000;
        text-align: center;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #060606;
        border-radius: 50%;
      }
      &.active {
        background: transparent;
        border: none;
        color: @yellowMain;
        &::before {
          background-color: #79ddf5;
        }
        &:hover {
          color: @yellowMain;
        }
      }
    }
  }
  &__icon {
    position: absolute;
    top: -2px;
    left: -25px;
    width: 25px;
    height: 25px;
    color: @yellowMain;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    &.plus::after {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      content: "+";
    }
    &.minus::after {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      content: "-";
    }
    &.opened {
      top: 8px;
      &:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

// Product page
[data-page="product/product"] {
  .content-top {
    .carousel {
      &.swiper-container {
        z-index: auto;
      }
      .swiper-wrapper {
        z-index: auto;
        .swiper-slide {
          margin-bottom: -3px;
          a {
            background-color: #fff;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
    .parts {
      margin-top: -1px;
      z-index: auto;
    }
  }
  .product {
    &-description {
      color: #6c6868;
      h2 {
        color: #6c6868;
      }
    }
  }

  .box-heading {
    padding-bottom: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .similar-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .product {
      .flex();
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      width: 32%;
      min-height: 350px;
      margin-right: 2%;
      margin-bottom: 20px;
      text-align: center;
      background-color: #fff;
      border-top: 8px solid @blueMain;
      border-bottom: 6px solid #fff;
      overflow: hidden;
      .trans(.2s);
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:hover {
        .product__link {
          span {
            color: #fff;
          }
        }
      }
      .image {
        img {
          max-width: 100%;
          min-height: 220px;
        }
      }
      .name {
        .flex();
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: transparent;
        color: @blueMain;
        font-weight: 600;
        padding: 5px;
        font-size: 15px;
        line-height: 1.4;
      }
      .attrs {
        padding: 5px 0;
        margin: 0 auto;
        width: 100%;
        font-size: 13px;
        background-color: #fff;
        &_elem {
          padding-left: 10px;
          margin-bottom: 3px;
          text-align: left;
          font-size: 13px;
          font-weight: 400;
          color: @blueMain;
          & span:last-child {
            font-weight: 600;
          }
        }
      }
      &__link {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        padding: 5px 0;
        text-align: center;
        background-color: @yellowMain;
        span {
          position: relative;
          display: inline-block;
          width: 70%;
          height: 30px;
          color: @blueMain;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          text-decoration: none;
          background-color: @yellowMain;
          .trans(.2s);
        }
      }
    }
    &__heading {
      color: #fff;
    }
  }
}

.product-card {
  margin-bottom: 30px;
  text-decoration: none;
  &__image-box {
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px;
    .box-sizing();
    &_image {
      text-align: center;
      overflow: hidden;
      width: 48%;
      img {
        width: 100%;
      }
      span {
        display: inline-block;
      }
    }
  }
  &__info {
    width: 48%;
    .get-price-wrap {
      .btn {
        width: 100%;
        padding: 15px 25px;
        color: #000;
        font-family: "Magistral", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-transform: none;
        background-color: @yellowMain;
        cursor: pointer;
      }
    }
  }
  &__attributes {
    color: #fff;
    h3 {
      margin-bottom: 20px;
      padding: 15px 20px;
      font-weight: 600;
      font-size: 16px;
      color: @blueMain;
      text-transform: uppercase;
      text-align: center;
      background-color: @yellowMain;
    }
    &_items {
      font-size: 14px;
    }
    &_item {
      -js-display: flex;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 8px 20px;
      background-color: rgba(89, 89, 89, .7);
      color: #fff;
      &_name {
        flex-basis: 50%;
      }
      &_text {
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.product-description {
  padding-bottom: 25px;
  line-height: 18px;
  line-height: 1.5;
  color: #fff;
  h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    color: #fff;
  }
  table {
    color: #fff;
    float: none !important;
    border-collapse: collapse;
    border: 1px solid #ccc;
    td {
      border: 1px solid #ccc;
      padding: 5px 10px;
    }
  }
}

.get-price-wrap {
  text-align: right;
  margin-top: 25px;
  .btn {
    display: inline-block;
    padding: 10px 25px;
  }
}

.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @green;
  text-align: center;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: @green - 15%;
  }
}

// Footer
footer {
  position: relative;
  width: 100%;
  background-color: #373934;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 445px;
    height: 475px;
    background: url("../images/footer-bg.png") left bottom no-repeat;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  font-size: 14px;
  .logo {
    font-size: 13px;
  }
  &__column {
    vertical-align: top;
    &-nav {
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  h5 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  address {
    font-style: normal;
    margin-bottom: 10px;
  }
  &__phone {
    margin-right: 50px;
    span {

    }
  }
  &__email {
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
  }
  &__up-anchor {
    color: #fff;
  }
  &__box {
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    .block {
      padding-right: 50px;
    }
    &_item {
      padding-right: 5px;
      margin-bottom: 8px;
      .box-sizing();
      a {
        color: #fff;
        font-size: 13px;
        vertical-align: middle;
        //text-transform: none;
        text-decoration: underline;
      }
    }
    &_title {
      display: inline-block;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-size: 12px;
      //border-bottom: 1px solid #a4a6a8;
      &:hover {
        border-bottom-color: #fff;
      }
    }
    &_sub-menu {
      a {
        text-transform: lowercase;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
      &_sub-item {
        &:nth-child(3n) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0 20px 0;
  color: #fff;
  &__column {
    display: table-cell;
    vertical-align: top;
    &.last {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      color: #fff;
      a {
        padding-top: 6px;
        display: block;
        color: #fff;
      }
    }
  }
  &__heading {
    color: #fff;
    margin-bottom: 0;
  }
  &__phone {
    margin-right: 35px;
    span {
      display: inline-block;
      margin-right: 15px;
    }
  }
  &__name {
    font-size: 14px;
  }
}

.up {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:before {
    content: '^';
    display: block;
    font-size: 55px;
    line-height: 35px;
  }
}

.counter {
  text-align: right;
  padding-right: 3%;
}

.form {
  .popup__form, .popup__send, .popup__item_field input, .popup__item_field textarea, .popup__result {
    font-size: 16px;
  }
  .popup__item_field textarea {
    max-width: 100%;
  }
}

.popup {
  padding-left: 10px;
  padding-right: 10px;
  &__b {
    max-height: none !important;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.3;
  }
  &__body {
    padding-top: 40px !important;
  }
  &__inner {
    width: 400px !important;
  }
}

.consultation {
  margin-bottom: 30px;
  .title {
    background-color: #003c61;
    width: 50%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
  }
  .content {
    background-color: #003c61;
    padding: 50px 4px 30px 50px;
    border-radius: 0 5px 5px 5px;
  }
  .fields {
    display: flex;
    padding-bottom: 20px;
    input {
      width: 42%;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      border: none;
      .box-sizing();
      padding: 0 5px;
      &:first-child {
        margin-right: 60px;
      }
    }
  }
  .btn {
    background-color: #8ba400;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    .trans(.1s);
    &:hover {
      background-color: #7b9100;
    }
  }
  span {
    color: #fff;
    font-size: 11px;
    vertical-align: bottom;
    padding-left: 10px;
  }

}

.partners {
  background-color: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  img {
    margin: 10px 0;
  }
}

#popup-ok {
  text-align: center;
  h3 {
    font-size: 22px;
    line-height: 2;
    font-weight: normal;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .product {
    .flex();
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 32%;
    min-height: 350px;
    margin-right: 2%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border-top: 8px solid @blueMain;
    border-bottom: 6px solid #fff;
    overflow: hidden;
    .trans(.2s);
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      .product__link {
        span {
          color: #fff;
        }
      }
    }
    .image {
      img {
        max-width: 100%;
        min-height: 220px;
      }
    }
    .name {
      .flex();
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: transparent;
      color: @blueMain;
      font-weight: 600;
      padding: 5px;
      font-size: 15px;
      line-height: 1.4;
    }
    .attrs {
      padding: 5px 0;
      margin: 0 auto;
      width: 100%;
      font-size: 13px;
      background-color: #fff;
      &_elem {
        padding-left: 10px;
        margin-bottom: 3px;
        text-align: left;
        font-size: 13px;
        font-weight: 400;
        color: @blueMain;
        & span:last-child {
          font-weight: 600;
        }
      }
    }
    &__link {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      padding: 5px 0;
      text-align: center;
      background-color: @yellowMain;
      span {
        position: relative;
        display: inline-block;
        width: 70%;
        height: 30px;
        color: @blueMain;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        background-color: @yellowMain;
        .trans(.2s);
      }
    }
  }
  &__heading {
    color: #fff;
  }
}

.products-all, .products-all_page {
  padding: 25px 0 10px;
  &_page {
    padding-top: 0;
  }
  .box-heading {
    color: #fff;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .show-all {
    text-align: center;
    padding-top: 15px;
    a {
      text-transform: uppercase;
      color: #102233;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      border-bottom: 1px solid;
      .trans(.2s);
      &:hover {
        color: #869f00;
      }
    }
  }
}

.products-all {
  padding: 25px 0 50px;
}

.mainpage-feedback-section {
  background: url(../pics/feedback_bg.jpg) center top no-repeat;
  padding: 30px 0 42px;
  color: #fff;
  p {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: italic;
    margin-bottom: 20px;
  }
  .r {
    h2 {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    .item {
      &.l {
        flex-basis: 65%;
        padding-right: 60px;
      }
      &.r {
        flex-basis: 35%;
      }
    }
  }
  .table {
    display: flex;
    font-size: 13px;
    .row {
      display: flex;
      justify-content: space-between;
      .cell {
        background-color: #3d5876;
        border: 1px solid #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.3;
        &:nth-child(1) {
          flex-basis: 20%;
        }
        &:nth-child(2) {
          flex-basis: 40%;
        }
        &:nth-child(3) {
          flex-basis: 20%;
        }
        &:nth-child(4) {
          flex-basis: 20%;
        }
      }
    }
  }
  .table-l {
    min-width: 130px;
    border: 1px solid #fff;
    background: #3d5876 url(../pics/feedback_table.png) left bottom no-repeat;
  }
  .form {
    width: 100%;
    height: 93%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    &__result {
      position: absolute;
      bottom: -20px;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
    }
    input, button {
      width: 100%;
      border: none;
      padding: 12px;
      font-size: 16px;
      font-style: italic;
      &::-webkit-input-placeholder {
        color: #00244b;
      }
      &::-moz-placeholder {
        color: #00244b;
      }
      :-ms-input-placeholder {
        color: #00244b;
      }
      :-moz-placeholder {
        color: #00244b;
      }
    }
    .btn {
      font-style: normal;
      cursor: pointer;
    }
    .f-carriage + div {
      font-size: 13px;
      font-style: italic;
      padding: 8px 0 0;
      line-height: 1.2;
    }
  }
}

.mainpage-SEO {
  & * {
    color: @grayMain;
  }
  .container {
    padding: 100px 0 20px;
    line-height: 1.5;
  }
  p {
    font-size: 14px;
  }

}

[data-page="common/home"] {
  background-color: #fff;
  .main-wrap {
    background: url("../images/main-bg-home.jpg") top center no-repeat,
    url("../images/seo-bg.jpg") bottom right no-repeat;
    background-size: 100%, 20%;
    h1 {
      color: @grayMain;
    }
  }
  .content-top {
    .carousel {
      &.swiper-container {
        z-index: auto;
      }
      .swiper-wrapper {
        z-index: auto;
        .swiper-slide {
          margin-bottom: -3px;
          a {
            background-color: #fff;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

[data-page="product/category"] {
  .content-top {
    .banner {
      position: relative;
      border-bottom: none;
      &__title {
        display: none;
      }
      img {
        max-width: 100%;
        margin-bottom: -3px;
      }
    }
  }
  .category-top {
    margin-bottom: 35px;
    .item {
      background-color: #fff;
      width: 32%;
      margin-right: 2%;
      &:nth-child(2n) {
        margin-right: 2%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:hover {
        box-shadow: none;
        opacity: 0.7;
      }
      &__title {
        color: @yellowMain;
      }
    }
  }
}

[data-page="product/showproductall"] {
  .breadcrumb {
    padding-top: 0;
    padding-right: 10px;
  }
  .content-top {
    z-index: 0;
    .carousel {
      .swiper-container {
        z-index: auto;
      }
      .swiper-wrapper {
        z-index: auto;
        .swiper-slide {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  .category-top {
    margin-bottom: 20px;
  }
}

[data-page="information/contact"] {
  .main-wrap {
    .wrapper {
      flex-direction: column;
    }
  }
}

[data-page="information/information"] {
  .banner {
    position: relative;
    border-bottom: none;
    &__title {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
  .main-wrap {
    .wrapper {
      flex-direction: column;
    }
  }
  & ~ footer::before {
    display: none;
  }
}

@import "mediaQueries";