@charset "UTF-8";
/* Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
address,
b,
i,
ul,
li,
form {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
  position: relative;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "Arial Black";
  src: url("../fonts/ArialBlack.ttf") format("truetype");
}
.showblock {
  display: block !important;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  position: relative;
  background-color: #fff;
  color: #000;
}
body,
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 18px;
  margin-bottom: 25px;
}
h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 30px 0 15px;
}
h2:first-child {
  margin-top: 0;
}
h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 30px 0 15px;
}
h3:first-child {
  margin-top: 0;
}
a {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}
.h {
  display: none;
}
.root {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrap {
  position: relative;
  background-color: #464646;
}
#content {
  padding: 30px;
}
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0;
  position: relative;
}
.main-wrap {
  background: url("../images/main-bg-other.jpg") top center no-repeat;
  background-size: 100%;
  padding-top: 15px;
}
.main-wrap .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.main-wrap__column-left {
  flex-basis: 270px;
  width: 270px;
  min-width: 220px;
  margin-bottom: 35px;
  z-index: 1;
}
.main-wrap__column-left .get-price.btn {
  width: 100%;
  border-radius: 10px;
  background-color: #828282;
}
.main-wrap__content {
  flex-basis: 860px;
  width: 860px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.main-wrap__content .parts {
  width: 100%;
}
.main-wrap__content .parts__link {
  display: block;
  padding-left: 45%;
  height: 65px;
  color: #0e1371;
  font-family: "Arial Black", sans-serif;
  font-size: 33px;
  font-weight: normal;
  line-height: 65px;
  text-transform: uppercase;
  text-decoration: none;
  background: url("../images/logo.png") 10% 40% no-repeat, linear-gradient(to right, #0e1371 40%, #fdc60a 40%);
}
.main-wrap__content .parts__link:hover {
  text-decoration: underline;
}
.main-wrap__content .parts__link-more {
  position: relative;
  padding-left: 50px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}
.main-wrap__content .parts__link-more::after {
  display: block;
  position: absolute;
  top: -4px;
  right: -40px;
  content: "";
  width: 30px;
  height: 25px;
  background: url("../images/parts-arrow.png") center no-repeat;
}
.main-wrap h1 {
  color: #fff;
  margin-top: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
header {
  background-color: #464646;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}
.header-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
  text-align: left;
}
.header-top__info .feedback {
  margin-bottom: 0;
  padding: 0;
  width: 175px;
  cursor: pointer;
  background-color: #fdc60a;
}
.header-top__info-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 40px;
  padding-right: 30px;
}
.header-top__info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  text-align: right;
}
.header-top__info-contacts span {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.header-top .logo-box .slogan {
  color: #003c61;
  font-size: 17px;
  font-style: italic;
  padding-bottom: 5px;
}
.feedback {
  margin-bottom: 18px;
  padding: 0 35px;
  display: block;
  color: #000;
  background-color: #fdc60a;
  text-align: center;
  height: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.feedback:hover {
  box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
  text-shadow: 0 0 0 #fff;
}
.m-top-menu {
  display: none;
  left: 0;
  right: 0;
  top: -192px;
  z-index: 1;
  position: fixed;
  height: 256px;
  padding-top: 192px;
  box-sizing: border-box;
}
.top-menu {
  background-color: #464646;
  border-bottom: 1px solid #fff;
}
.top-menu .container {
  display: flex;
  justify-content: space-around;
}
.top-menu__link {
  padding: 10px 0;
  position: relative;
  flex-grow: 1;
  text-align: center;
  color: #d7d7d7;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #464646;
}
.top-menu__link.active {
  color: #fff;
  background-color: #0e1371;
}
.top-menu__link.active span {
  color: #fff;
}
.top-menu__link:hover span {
  color: #fff;
}
.slideshow {
  position: relative;
  /*&:hover {
    .arrows {
      display: block;
    }
  }*/
}
.slideshow__bottom {
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 70px;
  color: #dddedf;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slideshow__bottom > div span {
  vertical-align: baseline;
  display: block;
  margin-bottom: 5px;
}
.slideshow__bottom > div span::before {
  content: '';
  display: inline-block;
  vertical-align: baseline;
  width: 12px;
  height: 12px;
  background-color: #8ba400;
  margin-right: 10px;
}
.slideshow .arrows {
  display: none;
}
.slideshow .arrows {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
  width: 65px;
  height: 55px;
  font-size: 0;
  color: transparent;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0;
  background-origin: content-box;
  box-sizing: content-box;
  cursor: pointer;
}
.slideshow .swiper-prev {
  left: 15px;
  background-position: -257px -17px;
}
.slideshow .swiper-next {
  right: 15px;
  background-position: -337px -17px;
}
.content-top {
  position: relative;
}
.content-top .content-border {
  display: none;
}
.content {
  line-height: 1.5;
}
.category-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 35px;
}
.category-top .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 48%;
  margin-bottom: 5px;
  margin-right: 4%;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.category-top .item.parts-item {
  width: 47%;
}
.category-top .item:hover {
  box-shadow: 0 0 0 1px rgba(253, 198, 10, 0.8);
}
.category-top .item__title {
  padding: 0 10px;
  font-size: 18px;
  line-height: 27px;
  color: #c0c0c0;
  text-align: center;
  text-transform: uppercase;
}
.category-top .item__content {
  text-align: center;
}
.category-top .item__content img {
  max-width: 100%;
}
.category-top .item__button {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 70%;
  font-size: 13px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #79ddf5;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.category-top .item__button:visited {
  color: #000;
}
.category-top .item:nth-child(2n) {
  margin-right: 0;
}
.category-wall {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category-wall .item {
  position: relative;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 15px;
  text-decoration: none;
  border: 3px dotted #c6c7c8;
  border-top: none;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.category-wall .item:hover .item__button {
  color: #ff6a00;
}
.category-wall .item__title {
  padding-right: 15px;
  padding-left: 15px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #ff6a00;
  text-align: center;
  background: linear-gradient(to bottom, #ff8a00, #ff7200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.category-wall .item__content {
  text-align: center;
}
.category-wall .item__button {
  position: relative;
  padding-left: 10px;
  margin: 0 auto;
  width: 70%;
  line-height: 40px;
  color: #fff;
  font-style: italic;
  text-decoration: underline;
  background: #231f20;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.category-wall .item__button::after {
  position: absolute;
  top: 13px;
  right: 10px;
  content: ">";
  display: block;
  width: 25px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  font-style: normal;
  color: #fff;
  text-align: center;
  font-weight: 600;
  background: linear-gradient(to bottom, #ff9000, #ff6a00);
  border-radius: 5px;
}
.category-wall .item__button:visited {
  color: #000;
}
.breadcrumb {
  display: block;
  color: #c0c0c0;
  padding: 18px 0 25px;
  cursor: default;
}
.breadcrumb a {
  font-size: 12px;
  color: #c0c0c0;
  text-decoration: none;
  border-bottom: 1px solid #c0c0c0;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.breadcrumb a:hover {
  border-bottom-color: transparent;
}
.featured {
  background: url(../images/top-image.jpg) no-repeat;
  width: 1110px;
  height: 411px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  font-size: 16px;
}
.featured::after {
  content: '';
  position: absolute;
  top: -8px;
  right: -9px;
  width: 124px;
  height: 124px;
  background: url(../images/leader.png) no-repeat;
}
.featured__elem {
  width: 50%;
  flex-basis: 50%;
  position: relative;
}
.featured__elem:first-child {
  padding-left: 200px;
  padding-top: 30px;
}
.featured__elem:last-child {
  padding-left: 100px;
  padding-top: 30px;
}
.featured__elem:last-child .featured__attributes {
  width: 70%;
}
.featured__elem:last-child .more {
  left: 40px;
}
.featured__elem .name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.featured__elem .in-stock {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #969696;
  font-weight: 600;
  vertical-align: baseline;
  font-size: 16px;
}
.featured__elem .in-stock span {
  color: #e50400;
  font-size: 22px;
}
.featured__elem .in-stock span i {
  font-style: normal;
  font-size: 16px;
}
.featured__elem .in-stock::before {
  content: '';
  display: inline-block;
  vertical-align: baseline;
  padding-right: 6px;
  width: 18px;
  height: 16px;
  background: url(../images/in_stock.png) no-repeat;
}
.featured__elem .more {
  position: absolute;
  bottom: 24px;
  left: 330px;
}
.featured__elem .more a {
  font-size: 14px;
  color: #003c61;
}
.featured__attributes_item {
  display: flex;
  margin-bottom: 15px;
}
.featured__attributes_item_text {
  padding-left: 10px;
  font-weight: 600;
}
.main-title {
  -js-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  font-size: 19px;
  padding-top: 10px;
}
.main-title__name {
  flex-basis: 20%;
  text-align: right;
  color: #003c61;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-title__h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-title__h1 h1 {
  font-weight: normal;
}
.main-title h1 {
  margin-bottom: 0;
}
.category-list {
  margin-bottom: 25px;
}
.category-list__items {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category-list__item {
  flex-basis: 30%;
  position: relative;
  margin-right: 5%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #003c61;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.category-list__item:nth-child(3n+3) {
  margin-right: 0;
}
.category-list__item:hover {
  border: 1px solid #98b20b;
}
.category-list__item:hover .category-list__item_name {
  background-color: #98b20b;
}
.category-list__item a {
  text-decoration: none;
  color: #000;
}
.category-list__item_count {
  position: absolute;
  top: 27px;
  right: 8px;
  font-size: 11px;
  color: #003c61;
}
.category-list__item_image {
  text-align: center;
  margin: 10px 0;
}
.category-list__item_name {
  background-color: #192e61;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0 10px;
  max-height: 22px;
  min-height: 22px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.category-list__item_name span {
  display: inline-block;
  max-height: 34px;
  overflow: hidden;
}
.category-products-panel {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-right: 70px;
  max-height: 32px;
}
.category-products-panel.only-models {
  margin-bottom: 0;
}
.category-products-panel__title {
  align-self: center;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}
.category-products-panel__title span {
  padding-right: 15px;
}
.category-products-panel__pagination-section {
  align-self: center;
  display: inline-flex;
}
.category-products-panel__show-all {
  align-self: center;
}
.category-products-panel__show-all a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.category-products-panel__show-all a:hover {
  text-decoration: none;
}
.category-products-panel__loader {
  font-size: 0;
  opacity: 0;
}
.category-products-panel__pagination {
  align-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.category-products-panel__pagination .links {
  cursor: default;
}
.category-products-panel__pagination .links a,
.category-products-panel__pagination .links b,
.category-products-panel__pagination .links span {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 18px;
  margin: 0 2px;
  background-color: #464646;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
}
.category-products-panel__pagination .links a:hover,
.category-products-panel__pagination .links b:hover,
.category-products-panel__pagination .links span:hover {
  background-color: #fdc60a;
  color: #464646;
}
.category-products-panel__pagination .links b {
  background-color: #fdc60a;
  color: #464646;
}
.category-products-panel__pagination .links .prev {
  background-color: transparent;
  background: url("../images/arrow-left.svg") center center no-repeat;
  background-size: 45%;
}
.category-products-panel__pagination .links .prev:hover {
  background-color: transparent;
  background: url("../images/arrow-left-fill.svg") center center no-repeat;
  background-size: 45%;
}
.category-products-panel__pagination .links .next {
  background-color: transparent;
  background: url("../images/arrow-right.svg") center center no-repeat;
  background-size: 45%;
}
.category-products-panel__pagination .links .next:hover {
  background-color: transparent;
  background: url("../images/arrow-right-fill.svg") center center no-repeat;
  background-size: 45%;
}
.similar-title {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}
.similar-categories .category-box__sub-menu {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 0;
}
.similar-categories .category-box__sub-item {
  flex-basis: 30%;
  margin-right: 5%;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
}
.similar-categories .category-box__sub-item:nth-child(3n+3) {
  margin-right: 0;
}
.similar-categories .category-box__sub-item a {
  display: block;
  min-height: 52px;
  background-color: #98b20b;
  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.similar-categories .category-box__sub-item a:hover {
  color: #98b20b;
}
.similar-categories .category-box__sub-item span {
  display: inline-block;
  overflow: hidden;
}
.product-grid {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.product-grid__item {
  flex-basis: 18.5%;
  position: relative;
  margin-right: 1.8%;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #192e61;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.product-grid__item:nth-child(5n+5) {
  margin-right: 0;
}
.product-grid__item:hover {
  border: 1px solid #98b20b;
}
.product-grid__item:hover .product-grid__item_name {
  background-color: #98b20b;
}
.product-grid__item a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.product-grid__item_name {
  display: block;
  text-align: center;
  background-color: #192e61;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  max-height: 22px;
  min-height: 22px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product-grid__item_name span {
  display: block;
  max-height: 22px;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-grid__item_image {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.product-grid__item_attrs {
  background-color: #c8d0d1;
  color: #000;
  font-size: 11px;
  text-align: center;
  padding: 5px;
  margin-bottom: 12px;
}
.product-grid__item_attrs_elem:first-child {
  margin-bottom: 2px;
}
.category-info {
  padding-top: 15px;
  padding-bottom: 45px;
  color: #c0c0c0;
}
.category-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
.category-info p {
  margin: 15px 0;
}
.static-content {
  font-family: "Arial", sans-serif;
  width: 100%;
  padding-bottom: 30px;
  color: #fff;
}
.static-content p {
  margin: 10px 0;
  line-height: 22px;
}
.map-section {
  padding-top: 30px;
}
.contact-page {
  padding-bottom: 15px;
}
.contact-page h1 {
  padding: 35px 0 10px;
}
.category-box {
  color: #fff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.category-box__title {
  position: relative;
  margin-bottom: 5px;
  padding: 6px 10px 4px;
  color: #464646;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #fdc60a;
}
.category-box__content {
  padding: 20px 20px 20px 30px;
  background-color: transparent;
}
.category-box__content li {
  position: relative;
}
.category-box__content a {
  color: #192e61;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.category-box__item {
  margin-bottom: 15px;
  border-radius: 20px;
}
.category-box__item a {
  display: block;
  font-size: 17px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.category-box__item a:hover {
  color: #fdc60a;
}
.category-box__item a.active {
  color: #fdc60a;
}
.category-box__item a.active ~ .category-box__icon {
  display: none;
}
.category-box__item a.active + i + ul {
  display: block;
}
.category-box__item:last-child {
  margin-bottom: 0;
}
.category-box__sub-item {
  position: relative;
  background-color: transparent;
  text-transform: none;
  padding: 0 0;
}
.category-box__sub-item:last-child a {
  margin-bottom: 0;
}
.category-box__sub-menu {
  display: none;
  padding-top: 10px;
}
.category-box__sub-menu a {
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background: none;
  box-shadow: none;
}
.category-box__sub-menu a::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: " ";
  display: none;
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  color: #000;
  text-align: center;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #060606;
  border-radius: 50%;
}
.category-box__sub-menu a.active {
  background: transparent;
  border: none;
  color: #fdc60a;
}
.category-box__sub-menu a.active::before {
  background-color: #79ddf5;
}
.category-box__sub-menu a.active:hover {
  color: #fdc60a;
}
.category-box__icon {
  position: absolute;
  top: -2px;
  left: -25px;
  width: 25px;
  height: 25px;
  color: #fdc60a;
  font-size: 26px;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}
.category-box__icon.plus::after {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: "+";
}
.category-box__icon.minus::after {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: "-";
}
.category-box__icon.opened {
  top: 8px;
}
.category-box__icon.opened:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
[data-page="product/product"] .content-top .carousel.swiper-container {
  z-index: auto;
}
[data-page="product/product"] .content-top .carousel .swiper-wrapper {
  z-index: auto;
}
[data-page="product/product"] .content-top .carousel .swiper-wrapper .swiper-slide {
  margin-bottom: -3px;
}
[data-page="product/product"] .content-top .carousel .swiper-wrapper .swiper-slide a {
  background-color: #fff;
}
[data-page="product/product"] .content-top .carousel .swiper-wrapper .swiper-slide img {
  max-width: 100%;
}
[data-page="product/product"] .content-top .parts {
  margin-top: -1px;
  z-index: auto;
}
[data-page="product/product"] .product-description {
  color: #6c6868;
}
[data-page="product/product"] .product-description h2 {
  color: #6c6868;
}
[data-page="product/product"] .box-heading {
  padding-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
[data-page="product/product"] .similar-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
[data-page="product/product"] .similar-products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 32%;
  min-height: 350px;
  margin-right: 2%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  border-top: 8px solid #0e1371;
  border-bottom: 6px solid #fff;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[data-page="product/product"] .similar-products .product:nth-child(3n) {
  margin-right: 0;
}
[data-page="product/product"] .similar-products .product:hover .product__link span {
  color: #fff;
}
[data-page="product/product"] .similar-products .product .image img {
  max-width: 100%;
  min-height: 220px;
}
[data-page="product/product"] .similar-products .product .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: transparent;
  color: #0e1371;
  font-weight: 600;
  padding: 5px;
  font-size: 15px;
  line-height: 1.4;
}
[data-page="product/product"] .similar-products .product .attrs {
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
  background-color: #fff;
}
[data-page="product/product"] .similar-products .product .attrs_elem {
  padding-left: 10px;
  margin-bottom: 3px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #0e1371;
}
[data-page="product/product"] .similar-products .product .attrs_elem span:last-child {
  font-weight: 600;
}
[data-page="product/product"] .similar-products .product__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 5px 0;
  text-align: center;
  background-color: #fdc60a;
}
[data-page="product/product"] .similar-products .product__link span {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 30px;
  color: #0e1371;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #fdc60a;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[data-page="product/product"] .similar-products__heading {
  color: #fff;
}
.product-card {
  margin-bottom: 30px;
  text-decoration: none;
}
.product-card__image-box {
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product-card__image-box_image {
  text-align: center;
  overflow: hidden;
  width: 48%;
}
.product-card__image-box_image img {
  width: 100%;
}
.product-card__image-box_image span {
  display: inline-block;
}
.product-card__info {
  width: 48%;
}
.product-card__info .get-price-wrap .btn {
  width: 100%;
  padding: 15px 25px;
  color: #000;
  font-family: "Magistral", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  background-color: #fdc60a;
  cursor: pointer;
}
.product-card__attributes {
  color: #fff;
}
.product-card__attributes h3 {
  margin-bottom: 20px;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #0e1371;
  text-transform: uppercase;
  text-align: center;
  background-color: #fdc60a;
}
.product-card__attributes_items {
  font-size: 14px;
}
.product-card__attributes_item {
  -js-display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 8px 20px;
  background-color: rgba(89, 89, 89, 0.7);
  color: #fff;
}
.product-card__attributes_item_name {
  flex-basis: 50%;
}
.product-card__attributes_item_text {
  flex-basis: 50%;
  text-align: right;
}
.product-description {
  padding-bottom: 25px;
  line-height: 18px;
  line-height: 1.5;
  color: #fff;
}
.product-description h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
  color: #fff;
}
.product-description table {
  color: #fff;
  float: none !important;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.product-description table td {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.get-price-wrap {
  text-align: right;
  margin-top: 25px;
}
.get-price-wrap .btn {
  display: inline-block;
  padding: 10px 25px;
}
.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #98b20b;
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #89a300;
}
footer {
  position: relative;
  width: 100%;
  background-color: #373934;
}
footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 445px;
  height: 475px;
  background: url("../images/footer-bg.png") left bottom no-repeat;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  font-size: 14px;
}
.footer-top .logo {
  font-size: 13px;
}
.footer-top__column {
  vertical-align: top;
}
.footer-top__column-nav {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-top h5 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.footer-top address {
  font-style: normal;
  margin-bottom: 10px;
}
.footer-top__phone {
  margin-right: 50px;
}
.footer-top__email a {
  color: #fff;
  text-decoration: none;
}
.footer-top__email a:hover {
  color: #fff;
}
.footer-top__up-anchor {
  color: #fff;
}
.footer-top__box {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
}
.footer-top__box .block {
  padding-right: 50px;
}
.footer-top__box_item {
  padding-right: 5px;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-top__box_item a {
  color: #fff;
  font-size: 13px;
  vertical-align: middle;
  text-decoration: underline;
}
.footer-top__box_title {
  display: inline-block;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-top__box_title:hover {
  border-bottom-color: #fff;
}
.footer-top__box_sub-menu a {
  text-transform: lowercase;
  text-decoration: none;
}
.footer-top__box_sub-menu a:hover {
  color: #fff;
}
.footer-top__box_sub-menu_sub-item:nth-child(3n) {
  margin-bottom: 5px;
}
.footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0 20px 0;
  color: #fff;
}
.footer-bottom__column {
  display: table-cell;
  vertical-align: top;
}
.footer-bottom__column.last {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  color: #fff;
}
.footer-bottom__column.last a {
  padding-top: 6px;
  display: block;
  color: #fff;
}
.footer-bottom__heading {
  color: #fff;
  margin-bottom: 0;
}
.footer-bottom__phone {
  margin-right: 35px;
}
.footer-bottom__phone span {
  display: inline-block;
  margin-right: 15px;
}
.footer-bottom__name {
  font-size: 14px;
}
.up {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.up:before {
  content: '^';
  display: block;
  font-size: 55px;
  line-height: 35px;
}
.counter {
  text-align: right;
  padding-right: 3%;
}
.form .popup__form,
.form .popup__send,
.form .popup__item_field input,
.form .popup__item_field textarea,
.form .popup__result {
  font-size: 16px;
}
.form .popup__item_field textarea {
  max-width: 100%;
}
.popup {
  padding-left: 10px;
  padding-right: 10px;
}
.popup__b {
  max-height: none !important;
}
.popup h2 {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.3;
}
.popup__body {
  padding-top: 40px !important;
}
.popup__inner {
  width: 400px !important;
}
.consultation {
  margin-bottom: 30px;
}
.consultation .title {
  background-color: #003c61;
  width: 50%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px 5px 0 0;
}
.consultation .content {
  background-color: #003c61;
  padding: 50px 4px 30px 50px;
  border-radius: 0 5px 5px 5px;
}
.consultation .fields {
  display: flex;
  padding-bottom: 20px;
}
.consultation .fields input {
  width: 42%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}
.consultation .fields input:first-child {
  margin-right: 60px;
}
.consultation .btn {
  background-color: #8ba400;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.consultation .btn:hover {
  background-color: #7b9100;
}
.consultation span {
  color: #fff;
  font-size: 11px;
  vertical-align: bottom;
  padding-left: 10px;
}
.partners {
  background-color: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.partners img {
  margin: 10px 0;
}
#popup-ok {
  text-align: center;
}
#popup-ok h3 {
  font-size: 22px;
  line-height: 2;
  font-weight: normal;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product-list .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 32%;
  min-height: 350px;
  margin-right: 2%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  border-top: 8px solid #0e1371;
  border-bottom: 6px solid #fff;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.product-list .product:nth-child(3n) {
  margin-right: 0;
}
.product-list .product:hover .product__link span {
  color: #fff;
}
.product-list .product .image img {
  max-width: 100%;
  min-height: 220px;
}
.product-list .product .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: transparent;
  color: #0e1371;
  font-weight: 600;
  padding: 5px;
  font-size: 15px;
  line-height: 1.4;
}
.product-list .product .attrs {
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
  background-color: #fff;
}
.product-list .product .attrs_elem {
  padding-left: 10px;
  margin-bottom: 3px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #0e1371;
}
.product-list .product .attrs_elem span:last-child {
  font-weight: 600;
}
.product-list .product__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 5px 0;
  text-align: center;
  background-color: #fdc60a;
}
.product-list .product__link span {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 30px;
  color: #0e1371;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #fdc60a;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.product-list__heading {
  color: #fff;
}
.products-all,
.products-all_page {
  padding: 25px 0 10px;
}
.products-all_page,
.products-all_page_page {
  padding-top: 0;
}
.products-all .box-heading,
.products-all_page .box-heading {
  color: #fff;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: bold;
}
.products-all .show-all,
.products-all_page .show-all {
  text-align: center;
  padding-top: 15px;
}
.products-all .show-all a,
.products-all_page .show-all a {
  text-transform: uppercase;
  color: #102233;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.products-all .show-all a:hover,
.products-all_page .show-all a:hover {
  color: #869f00;
}
.products-all {
  padding: 25px 0 50px;
}
.mainpage-feedback-section {
  background: url(../pics/feedback_bg.jpg) center top no-repeat;
  padding: 30px 0 42px;
  color: #fff;
}
.mainpage-feedback-section p {
  margin-bottom: 20px;
}
.mainpage-feedback-section h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  margin-bottom: 20px;
}
.mainpage-feedback-section .r h2 {
  font-size: 24px;
  margin-bottom: 12px;
}
.mainpage-feedback-section .container {
  display: flex;
  justify-content: space-between;
}
.mainpage-feedback-section .container .item.l {
  flex-basis: 65%;
  padding-right: 60px;
}
.mainpage-feedback-section .container .item.r {
  flex-basis: 35%;
}
.mainpage-feedback-section .table {
  display: flex;
  font-size: 13px;
}
.mainpage-feedback-section .table .row {
  display: flex;
  justify-content: space-between;
}
.mainpage-feedback-section .table .row .cell {
  background-color: #3d5876;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
}
.mainpage-feedback-section .table .row .cell:nth-child(1) {
  flex-basis: 20%;
}
.mainpage-feedback-section .table .row .cell:nth-child(2) {
  flex-basis: 40%;
}
.mainpage-feedback-section .table .row .cell:nth-child(3) {
  flex-basis: 20%;
}
.mainpage-feedback-section .table .row .cell:nth-child(4) {
  flex-basis: 20%;
}
.mainpage-feedback-section .table-l {
  min-width: 130px;
  border: 1px solid #fff;
  background: #3d5876 url(../pics/feedback_table.png) left bottom no-repeat;
}
.mainpage-feedback-section .form {
  width: 100%;
  height: 93%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.mainpage-feedback-section .form__result {
  position: absolute;
  bottom: -20px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.mainpage-feedback-section .form input,
.mainpage-feedback-section .form button {
  width: 100%;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-style: italic;
}
.mainpage-feedback-section .form input::-webkit-input-placeholder,
.mainpage-feedback-section .form button::-webkit-input-placeholder {
  color: #00244b;
}
.mainpage-feedback-section .form input::-moz-placeholder,
.mainpage-feedback-section .form button::-moz-placeholder {
  color: #00244b;
}
.mainpage-feedback-section .form input :-ms-input-placeholder,
.mainpage-feedback-section .form button :-ms-input-placeholder {
  color: #00244b;
}
.mainpage-feedback-section .form input :-moz-placeholder,
.mainpage-feedback-section .form button :-moz-placeholder {
  color: #00244b;
}
.mainpage-feedback-section .form .btn {
  font-style: normal;
  cursor: pointer;
}
.mainpage-feedback-section .form .f-carriage + div {
  font-size: 13px;
  font-style: italic;
  padding: 8px 0 0;
  line-height: 1.2;
}
.mainpage-SEO * {
  color: #464646;
}
.mainpage-SEO .container {
  padding: 100px 0 20px;
  line-height: 1.5;
}
.mainpage-SEO p {
  font-size: 14px;
}
[data-page="common/home"] {
  background-color: #fff;
}
[data-page="common/home"] .main-wrap {
  background: url("../images/main-bg-home.jpg") top center no-repeat, url("../images/seo-bg.jpg") bottom right no-repeat;
  background-size: 100%, 20%;
}
[data-page="common/home"] .main-wrap h1 {
  color: #464646;
}
[data-page="common/home"] .content-top .carousel.swiper-container {
  z-index: auto;
}
[data-page="common/home"] .content-top .carousel .swiper-wrapper {
  z-index: auto;
}
[data-page="common/home"] .content-top .carousel .swiper-wrapper .swiper-slide {
  margin-bottom: -3px;
}
[data-page="common/home"] .content-top .carousel .swiper-wrapper .swiper-slide a {
  background-color: #fff;
}
[data-page="common/home"] .content-top .carousel .swiper-wrapper .swiper-slide img {
  max-width: 100%;
}
[data-page="product/category"] .content-top .banner {
  position: relative;
  border-bottom: none;
}
[data-page="product/category"] .content-top .banner__title {
  display: none;
}
[data-page="product/category"] .content-top .banner img {
  max-width: 100%;
  margin-bottom: -3px;
}
[data-page="product/category"] .category-top {
  margin-bottom: 35px;
}
[data-page="product/category"] .category-top .item {
  background-color: #fff;
  width: 32%;
  margin-right: 2%;
}
[data-page="product/category"] .category-top .item:nth-child(2n) {
  margin-right: 2%;
}
[data-page="product/category"] .category-top .item:nth-child(3n) {
  margin-right: 0;
}
[data-page="product/category"] .category-top .item:hover {
  box-shadow: none;
  opacity: 0.7;
}
[data-page="product/category"] .category-top .item__title {
  color: #fdc60a;
}
[data-page="product/showproductall"] .breadcrumb {
  padding-top: 0;
  padding-right: 10px;
}
[data-page="product/showproductall"] .content-top {
  z-index: 0;
}
[data-page="product/showproductall"] .content-top .carousel .swiper-container {
  z-index: auto;
}
[data-page="product/showproductall"] .content-top .carousel .swiper-wrapper {
  z-index: auto;
}
[data-page="product/showproductall"] .content-top .carousel .swiper-wrapper .swiper-slide img {
  max-width: 100%;
}
[data-page="product/showproductall"] .category-top {
  margin-bottom: 20px;
}
[data-page="information/contact"] .main-wrap .wrapper {
  flex-direction: column;
}
[data-page="information/information"] .banner {
  position: relative;
  border-bottom: none;
}
[data-page="information/information"] .banner__title {
  display: none;
}
[data-page="information/information"] .banner img {
  max-width: 100%;
}
[data-page="information/information"] .main-wrap .wrapper {
  flex-direction: column;
}
[data-page="information/information"] ~ footer::before {
  display: none;
}
@media screen and (max-width: 960px) {
  .root {
    padding-top: 61px;
  }
}
@media screen and (max-width: 1100px) {
  #content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main-wrap {
    background: none;
  }
}
@media screen and (max-width: 1170px) {
  .main-wrap {
    padding: 0 10px;
  }
}
@media screen and (max-width: 960px) {
  .main-wrap {
    padding: 0 0;
  }
}
@media screen and (max-width: 960px) {
  .main-wrap__column-left {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .main-wrap__content {
    flex-basis: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 960px) {
  .main-wrap__content .parts {
    z-index: auto;
  }
}
@media screen and (max-width: 768px) {
  .main-wrap__content .parts {
    position: relative;
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 768px) {
  .main-wrap__content .parts__link {
    padding: 15px 10px;
    line-height: 30px;
    height: auto;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: #0e1371;
    background: #fdc60a;
  }
}
@media screen and (max-width: 380px) {
  .main-wrap__content .parts__link {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }
}
@media screen and (max-width: 380px) {
  .main-wrap__content .parts__link-more {
    padding-left: 20px;
  }
}
@media screen and (max-width: 960px) {
  .m-top-menu {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .header-top {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .header-top__info {
    flex-grow: 0;
  }
}
@media screen and (max-width: 1100px) {
  .header-top__info-feedback {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .header-top__info-contacts-mail {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header-top__info-contacts-mail {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .header-top__info-contacts {
    text-align: right;
  }
}
@media screen and (max-width: 320px) {
  .header-top__info-contacts {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .header-top__phone {
    margin-right: 0px;
  }
}
@media screen and (max-width: 568px) {
  .header-top__phone {
    white-space: nowrap;
    margin-right: 0;
  }
}
@media screen and (max-width: 1100px) {
  .header-top__phone .feedback {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header-top__feedback {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .header-top .logo-box {
    flex-basis: 35%;
  }
  .header-top .logo-box img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .header-top .logo-box {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 960px) {
  .feedback {
    margin-bottom: 0;
    padding: 15px 35px;
    height: auto;
    line-height: 20px;
    border-radius: 0;
  }
}
@media screen and (max-width: 960px) {
  .top-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .content-top {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 380px) {
  .category-top .item.parts-item .item__content img {
    width: auto;
  }
}
@media screen and (max-width: 380px) {
  .category-top .item.parts-item {
    width: 99%;
  }
}
@media screen and (max-width: 380px) {
  .category-top .item {
    width: 99%;
  }
}
@media screen and (max-width: 320px) {
  .category-top .item {
    margin-bottom: 20px;
    width: 99%;
  }
}
@media screen and (max-width: 480px) {
  .category-top .item__title {
    font-size: 13px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .category-top .item__content img {
    width: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .category-top .item__content {
    padding: 10px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .category-wall .item {
    width: 48%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 380px) {
  .category-wall .item {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .category-wall .item {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .category-wall .item__title {
    font-size: 13px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .category-wall .item__content {
    padding: 10px;
    box-sizing: border-box;
  }
  .category-wall .item__content img {
    max-width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .category-products-panel {
    max-height: none;
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .category-products-panel__pagination-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  .category-products-panel__show-all {
    width: 100%;
    text-align: center;
    order: 1;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media screen and (max-width: 640px) {
  .category-products-panel__show-all a {
    width: 100%;
    background-color: transparent;
    border-color: #ddd;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
  }
  .category-products-panel__show-all a:hover {
    background-color: #fff;
  }
}
@media screen and (max-width: 640px) {
  .category-products-panel__loader {
    text-align: center;
    order: 3;
  }
}
@media screen and (max-width: 640px) {
  .category-products-panel__pagination {
    width: 100%;
    text-align: center;
    order: 2;
  }
}
@media screen and (max-width: 1100px) {
  .contact-page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 960px) {
  [data-page="product/product"] .content-top {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1100px) {
  [data-page="product/product"] .content-top .parts {
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  [data-page="product/product"] .breadcrumb {
    padding-left: 15px;
  }
}
@media screen and (max-width: 960px) {
  [data-page="product/product"] .box {
    padding: 0 15px;
  }
}
@media screen and (max-width: 540px) {
  [data-page="product/product"] .similar-products {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  [data-page="product/product"] .similar-products .product {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.31);
    width: 48%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 480px) {
  [data-page="product/product"] .similar-products .product {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  [data-page="product/product"] .similar-products .product .attrs_elem {
    font-size: 11px;
  }
}
@media screen and (max-width: 960px) {
  .product-card h1 {
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .product-card__image-box {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .product-card__image-box_image {
    width: 100%;
  }
  .product-card__image-box_image img {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .product-card__info {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .product-description {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .product-description img {
    width: 100%;
  }
  .product-description table {
    display: flex;
    width: auto !important;
  }
  .product-description table tbody,
  .product-description table thead {
    display: flex;
    flex-grow: 1;
  }
  .product-description table tbody tr,
  .product-description table thead tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }
  .product-description table tbody tr td,
  .product-description table thead tr td,
  .product-description table tbody tr th,
  .product-description table thead tr th {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100% !important;
    height: 60px;
    border: 1px solid #ccc;
    font-size: 12px;
  }
}
@media screen and (max-width: 1400px) {
  footer::before {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1170px) {
  .footer-top {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1100px) {
  .footer-top {
    display: block;
    padding-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .footer-top {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .footer-top__column {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-top__column:first-child {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .footer-top__column:first-child img {
    max-width: 260px;
  }
  .footer-top__column.last {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .footer-top__column:first-child img {
    max-width: 150px;
  }
}
@media screen and (max-width: 540px) {
  .footer-top__column {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .footer-top__column-nav {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .footer-top__phone {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  .footer-top__box_item {
    flex-basis: 30%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .footer-top__box_item {
    flex-basis: auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .footer-top__box_sub-menu {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .footer-top__box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 620px) {
  .footer-bottom__column.last {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1100px) {
  .footer-bottom__column.anchor {
    position: absolute;
    right: 20px;
    top: -80px;
  }
}
@media screen and (max-width: 380px) {
  .footer-bottom__column.anchor {
    top: -65px;
  }
}
@media screen and (max-width: 480px) {
  .footer-bottom .logo {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .footer-bottom__phone span {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1100px) {
  .footer-bottom__phone {
    font-size: 16px;
  }
}
@media screen and (max-width: 620px) {
  .footer-bottom__phone {
    margin-top: 10px;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .footer-bottom__phone {
    width: 60%;
  }
}
@media screen and (max-width: 960px) {
  .footer-bottom__email {
    text-align: right;
  }
}
@media screen and (max-width: 1100px) {
  .footer-bottom__name {
    text-align: center;
  }
}
@media screen and (max-width: 1170px) {
  .footer-bottom {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer-bottom {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 380px) {
  .footer-bottom__heading {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .up {
    bottom: 50%;
    right: 2%;
  }
}
@media screen and (max-width: 616px) {
  .up {
    bottom: -10%;
  }
}
@media screen and (max-width: 480px) {
  .form__send {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .popup__body {
    padding-top: 0 !important;
    position: absolute !important;
  }
}
@media screen and (max-width: 768px) {
  .popup__inner {
    width: 100% !important;
    transform: none !important;
  }
}
@media screen and (max-width: 540px) {
  .product-list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .product-list .product {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.31);
    width: 49%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 480px) {
  .product-list .product {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .product-list .product:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .product-list .product .attrs_elem {
    font-size: 11px;
  }
}
@media screen and (max-width: 1100px) {
  .products-all_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .products-all {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .mainpage-feedback-section .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .mainpage-feedback-section .container .item.l {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .mainpage-SEO {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mainpage-SEO .container {
  padding-top: 0;
}
@media screen and (max-width: 1400px) {
  [data-page="common/home"] .main-wrap {
    background: linear-gradient(to bottom, #464646 56%, #fff, #fff 60%);
  }
}
@media screen and (max-width: 960px) {
  [data-page="common/home"] .main-wrap {
    background: none;
  }
}
@media screen and (max-width: 1400px) {
  [data-page="common/home"] .category-top {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1170px) {
  [data-page="common/home"] .category-top {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 960px) {
  [data-page="common/home"] .category-top {
    background: linear-gradient(to bottom, #464646 95%, #fff);
  }
}
@media screen and (max-width: 960px) {
  [data-page="product/category"] .content-top {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1100px) {
  [data-page="product/category"] .content-top .parts {
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  [data-page="product/category"] .main-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  [data-page="product/category"] .category-top .item__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  [data-page="product/category"] .category-top .item {
    width: 99%;
  }
}
@media screen and (max-width: 960px) {
  [data-page="product/showproductall"] .breadcrumb {
    padding-left: 10px;
  }
}
@media screen and (max-width: 960px) {
  [data-page="product/showproductall"] .content-top {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1100px) {
  [data-page="information/contact"] .main-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  [data-page="information/information"] .main-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 900px) {
  [data-page="information/information"] .static-content .form {
    width: 100%;
  }
}
