<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback section</title>
</head>
<body>

<div class="container">
    <div class="item l">
        <h2>Международная классификация посадочных кареток вилочных погрузчиков</h2>
        <div class="table">
            <div class="table-l"></div>
            <div class="table-r">
                <div class="row title">
                    <div class="cell">Класс каретки</div>
                    <div class="cell">Грузоподъемность погрузчика при центре тяжести</div>
                    <div class="cell">Р (мм)</div>
                    <div class="cell">Q (мм)</div>
                </div>
                <div class="row">
                    <div class="cell">1А<br>1В</div>
                    <div class="cell">До 999 кг при 500 мм</div>
                    <div class="cell">331<br>331</div>
                    <div class="cell">76<br>114</div>
                </div>
                <div class="row">
                    <div class="cell">2А<br>2В</div>
                    <div class="cell">От 1000 до 2500 кг при 500 мм</div>
                    <div class="cell">407<br>407</div>
                    <div class="cell">76<br>152</div>
                </div>
                <div class="row">
                    <div class="cell">3А<br>3В</div>
                    <div class="cell">От 2501 до 4999 кг при 500 мм</div>
                    <div class="cell">508<br>508</div>
                    <div class="cell">76<br>203</div>
                </div>
                <div class="row">
                    <div class="cell">4А<br>4В</div>
                    <div class="cell">От 5000 до 8000 кг при 600 мм</div>
                    <div class="cell">635<br>635</div>
                    <div class="cell">76<br>203</div>
                </div>
                <div class="row">
                    <div class="cell">5А<br>5В</div>
                    <div class="cell">От 8001 до 10099 кг при 600 мм</div>
                    <div class="cell">728<br>728</div>
                    <div class="cell">127<br>275</div>
                </div>
            </div>
        </div>
    </div>
    <div class="item r">
        <h2>Запросить стоимость</h2>
        <form class="form f-f">
            <div class="form__item">
                <div class="form__item_field">
                    <input type="text" class="f-carriage" placeholder="Класс каретки">
                    <div>Для точного определения класса требуемой каретки воспользуйтесь данными из таблицы</div>
                </div>
            </div>
            <div class="form__item">
                <div class="form__item_field"><input type="text" class="f-fork-length" placeholder="Длина вил"></div>
            </div>
            <div class="form__item">
                <div class="form__item_field"><input type="text" class="f-fio" placeholder="ФИО"></div>
            </div>
            <div class="form__item">
                <div class="form__item_field"><input type="text" class="f-company" placeholder="Название организации"></div>
            </div>
            <div class="form__item">
                <div class="form__item_field"><input type="text" class="f-city" placeholder="Город"></div>
            </div>
            <div class="form__item">
                <div class="form__item_field"><input type="text" class="f-phone" placeholder="Телефон"></div>
            </div>
            <div class="form__item">
                <div class="form__item_field"><input type="text" class="f-email" placeholder="E-mail"></div>
            </div>
            <button class="send btn">Отправить</button>
            <div class="form__result"></div>
        </form>
    </div>
</div>

</body>
</html>