<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div class="form">
    <form class="popup__form">
      <div class="popup__item">
        <div class="popup__item_name"><span>Марка и модель техники:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="model"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>Год выпуска:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="year"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>Серийный номер техники:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="number"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>Организация:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="company"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>Контактный телефон:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="phone" placeholder="+_ (___) ___-__-__"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>E-mail:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="email"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>Город:<sup>*</sup></span></div>
        <div class="popup__item_field"><input type="text" name="city"></div>
      </div>
      <div class="popup__item">
        <div class="popup__item_name"><span>Список требуемых запчастей:<sup>*</sup></span></div>
        <div class="popup__item_field">
          <textarea name="spares"></textarea>
        </div>
      </div>
      <div class="popup__result"></div>
      <button class="popup__send btn">Отправить</button>
    </form>
  </div>

</body>
</html>